<<<<<<< HEAD
border-style: {
	margin:auto;
	display: block;
	text-align: center;

}
div
{
	text-align: center;
}
li
{
	list-style-type: none;
=======
border-style: {
	margin:auto;
	display: block;
	text-align: center;

}
div
{
	text-align: center;
}
li
{
	list-style-type: none;
>>>>>>> d17415d1d083bdfcae81984b0dad39e325ffff72
}